div.background{
	background: lightblue url(hands.jpg) no-repeat center;
   background-size: cover;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 400px;
   width: 400px;
}
div.transbox{
	 background-color: rgba(255, 255, 255, 0.4);
  	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
	  padding: 20px;
	  margin: 30px;
	  font-weight: bold;
}

#div2 {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: red;
  transform: rotateY(180deg);
} 
#div2 {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: visible;
}
div.new{
	 background: skyblue url("hands.jpg") no-repeat  center; 
}
#myDIV { 
  width: 400px;
  height: 400px;
  background-repeat: repeat, repeat;
  background-image: url("flower.jpg") ,url(flower.jpg);
  background-blend-mode: hard-light;
}
#example1 {
	font-size: 20px;
  border: 10px dotted yellow;
  padding: 15px;
  background: lightblue;
  background-clip: border-box;  
}
div.back{
	 width: 500px;
    height: 400px;
	background-image: url("flower.jpg");
}
/* This is selectors */
.intro{
	background-color: greenyellow;
}
div h1{
	background-color: blue;
}
*{
	background-color: skyblue;
}
p1{
	background-color: red;
}
p.home{
	background-color: blueviolet;
}